
.for{
    border: 2px solid  black;
    height: 600px;
    width: 800px;
    margin-top: 30px ;
    margin-left: auto;
    margin-right: auto;
}
.center{
    margin-top:50px ;
    display: flex;
    justify-content: center;
    align-items: center;
}
input{
    height:25px;
    width:300px;
}
.btn{
    border: none;
    color: white;
    border-radius: 10px;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #4CAF50;
}
.notes{
  display: flex;
  justify-content: center;
  align-self: center;
}