<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/staticFiles/home.css">
</head>
<body>
    <div class="for">
        <h1 class="center">Note Taking App</h1>
        <div class="center">
            <form action="{{url_for('index')}}" method="post">
                <input type="text" name="note" placeholder="Enter a note">
                <button type="submit" class="btn">Add Note</button>
            </form>
        </div>
        <div class="notes">
            <ul>
                {% for note in notes%}
                    <li>{{ note }}</li>
                {% endfor %}
                </ul>
        </div>

</div>
</body>
</html>